.carousel {
  width: 50%;

  @media (max-width: 750px) {
    width: 100%;
  }
}

.image {
  width: 50%;
  height: auto;
  border-radius: 5px;
  align-self: center;

  @media (max-width: 750px) {
    width: 100%;
  }
}

.carousel .image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}