.productCard {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
  width: calc( calc(100% - 80px) / 5);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1250px) {
    width: calc( calc(100% - 60px) / 4);
  }

  @media (max-width: 950px) {
    width: calc( calc(100% - 40px) / 3);
  }

  @media (max-width: 750px) {
    width: calc( calc(100% - 20px) / 2);
  }
  @media (max-width: 550px) {
    width: 100%;
  }
}

.productCard:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
}
.infoContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}