.main {
  max-width: 1400px;
  padding: 1rem 4rem;
  min-height: 100vh;
  margin: 0 auto;
}

.title {
  Color: white;
  font-size: 64px;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
